body{
  background-color: yellow;
}
h1{
  color: black;
  text-align: center;
}
p{
  color: red;
  margin: 15px;
  
}
h2{
  text-align: center;
  margin: 15px;
  color: blue;
}
ol {
  text-align: center;
  color: blue;
  list-style-position: inside;
  list-style-type: decimal;
}
